<% include ../layout/header %>

  <!------ Include the above in your HEAD tag ---------->

  <!-- no additional media querie or css is required -->
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height:50vh">

    <div class="row">
        <a class="btn pull-right btn-danger btn-sm " href="/logout"> Sair</a>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Seja Bem vindo, <%- nome %></h1>
                <h1>Página de contatos</h1>
            </div>
        </div>
    </div>
    </div>
  </div>
  <% include ../layout/footer %>