<% include ./layout/header %>
    <header>
        <h1>Agenda de Contatos</h1>
        <h4>Infelizmente essa página não existe :(</h4>
    </header>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">Oops!</div>
                    <a href="/" class="btn btn-link">Vamos Voltar</a>
                </div>
            </div>
        </div>
    </div>
    <% include ./layout/footer %>