<% include ./layout/header %>
    <header>
        <h1>Agenda de contatos</h1>
        <h4>Aconteceu algo terrível! :(</h4>
    </header>
    <p>
        Veja os detalhes do erro:
        <br>
        <%- error %>
    </p>
    <hr>
    <p>Que tal voltar
        <a href="/">home page?</a> :)</p>
        <% include ./layout/footer %>