<!DOCTYPE html>
<html>

<head>
  <title>
    
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>